@import '~antd/dist/antd.css';

.App {
    text-align: center;
    height: 100%;
    max-height: 100%;
}

body {
  background: #f0f2f5;
}

.App-logo {
    height: 1.5rem;
    width: 100%;
    pointer-events: none;
}

.App-header {
    background-color: #002766;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.steps-content {
  min-height: 572px;
  border-radius: 6px;
  background-color: #fafafa;
}

.ant-layout {
  height:100%;
}

.ant-layout-content {
  min-height: calc(100vh - 250px);
}

.firststep-wrapper {
  padding: 30px 50px;
}

.firststep-descr {
  width: 50%;
  
  text-align: start;
}

.secondstep-wrapper {
  padding: 30px 50px;
  text-align: start;
}

.secondstep-wrapper > .ant-slider,.ant-checkbox-group, .ant-select, .ant-input {
  &:not(:last-child) {
    margin-top: 8px;
    margin-bottom: 24px;
  }
}

.ant-calendar-picker-icon {
  top: 36%;
}

.thirdstep-wrapper {
  padding: 30px 50px;

  text-align: start;
}

.calendar-step {
  padding: 30px 50px; 

  text-align: start;
}

.steps {
  padding-top: 16px;
  margin-bottom: 16px;
  text-align: left;
}

.steps-action {
  margin-top: 24px;
}

.ant-col-16 > div.steps-content > div > div{
  margin-left: auto;
  margin-right: auto;
}

.webcam-component {
  padding: 30px 50px;
  
  h2 {
    text-align: start;
    margin-bottom: 24px;
  }

  p{
    margin-bottom: 24px;
  }
}

.capture {
  margin-top: 8px;
  margin-bottom: 24px; 
}

.image-delete {
  position: relative;
  top: -405px;
  right: -350px;
}

.typ {
  padding: 30px 50px; 

  text-align: start;

  p:last-of-type {
    margin-bottom: 48px;
  }

  img {
    margin-bottom: 10px;
  }
}

.progress {
  display: flex; 
  padding-bottom: 24px;

  &:first-of-type {
    margin-top: 24px;
    padding-top: 24px;
  }
  
  &:not(:last-of-type) {
    margin-bottom: 24px;

    border-bottom: 1px solid #d9d9d9;
  }

  .progress-bar {
    margin-right: 24px;
  }

  .diagnosis-disc {
    display: flex; 
    flex-direction: column; 

    h3 {
       text-transform: capitalize;
    }
  }
}

.ant-btn-circle.ant-btn-lg {
  margin-top: -5rem;
  top: -3rem;
}

.button-next {
  width: 7rem; 
}

.button-prev {
  width: 7rem; 
}